# Byte-compiled
__pycache__/
*.py[cod]

# virtuális környezet
.venv/
venv/
env/
.venv_view/

# IDE-s
.vscode/
.idea/
*.sublime-project

# Log
*.log

# OS-es
.DS_Store

# Data & outputs
train_data/
runs/
logs/
exp/
train_*
pcd_*
train_data/pcd/_converted_las/
